#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.poke{
  background: white;
  box-shadow: 8px 8px 8px 8px rgb(218, 208, 188);
}

 .poke img{
 font-size: 30px;
 width: 80px;
 height: 80px;
 }

 .poke button{
  background: darkcyan;
 }

 .poke div {
   margin-top: 10px;
 }

 .poke button {
  margin-top: 10px;
  color: white;
  
 }

 .poke .but{
  margin-left: 5px;
  background:  rgb(111, 182, 182);
 }